body{
    color: maroon;
    background-color: #f5f5d;
}
h1, h2{
    color: crimson
}
h3{
    font-family: monospace;
    
}
p, li{
    font-family: sans-serif;
}
footer{
    text-align: center;
}
header{
    text-align: right;
}
#preguntas1{
    padding-right: 15%;
}
#preguntas2{
    padding-left: 15%;
}
#definiciones{
    padding-left: 7%;
    padding-right: 7%;
}
#barra{
    background-color: brown;
}