img{
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: auto;
}
td{
    max-width: 100px;
}
#centrado{
    padding: 19% 0;
    text-align: center;
}
th{
    text-align: center;
}